<form>
    <div class="form-group">
        {{#each resources as |resource|}}
            <label>
                <span>{{resource.label}}</span>
            </label>
            <input type="checkbox" name="{{resource.label}}" {{#if resource.shouldConsume}}checked{{/if}}>
        {{/each}}
    </div>
</form>