<form>
    <div class="form-group">
        <label>{{ localize "GENERIC.Modifier"}}</label>
        <div class="form-fields">
            <input name="modifier" type="number" step="1" placeholder="+0" autofocus>
        </div>
    </div>
</form>
