<div class="window-corners">
    <div class="corner-pair top">        
        <div class="corner left">
        </div>
        <div class="corner right">
        </div>
    </div>
    <div class="corner-pair bot">
        <div class="corner left">
        </div>
        <div class="corner right">
        </div>
    </div>
</div>