.application.sheet.actor.adversary {
    --border-tier-svg: url('assets/icons/svg/sheet/border_tier.svg');
    --mask-tier-svg: url('assets/icons/svg/sheet/mask_tier.svg');

    max-width: 800px;
    max-height: 800px;

    .sheet-header {
        .title {
            .details {
                color: var(--cosmere-color-text-sub);
                display: flex;
                align-items: center;
                gap: 0.375rem;
                input {
                    color: var(--cosmere-color-text-sub);
                }

                select {
                    text-transform: uppercase;
                    width: auto;
                    height: auto;
                    line-height: normal;
                    background-color: var(--cosmere-color-base-4);
                    border-radius: 6px;
                    padding: 0 0.25rem;
                    padding-bottom: 0.125rem;

                    &:disabled {
                        background-color: var(--cosmere-color-base-3);
                    }

                    option {
                        background-color: var(--cosmere-color-base-4);
                    }
                }
                input,
                select {
                    font-family: var(--cosmere-font-normal);
                    font-variant: lining-nums;
                    font-weight: 600;
                }
            }
        }

        .level {
            .container {
                width: 42px;
                height: 42px;

                .background {
                    mask: var(--mask-tier-svg) no-repeat center;
                }

                .border {
                    mask: var(--border-tier-svg) no-repeat center;
                }

                .value {
                    font-size: var(--font-size-24);
                    line-height: 46px;
                }
            }
        }
    }

    /* --- Components --- */

    app-adversary-skills {
        .pill[data-action='roll-skill'] {
            cursor: pointer;

            &:hover {
                text-shadow: 0 0 8px var(--color-shadow-primary);
            }
        }
    }
}
