.application.sheet.actor.character {
    --border-level-svg: url('assets/icons/svg/sheet/border_level.svg');
    --mask-level-svg: url('assets/icons/svg/sheet/mask_level.svg');

    max-width: 800px;
    max-height: 900px;

    .sheet-header {
        .title {
            padding-left: 1.25rem;

            .details {                
                color: var(--cosmere-color-text-accent);
            }
        }

        .level {
            .container {
                width: 58px;
                height: 58px;

                .background {
                    mask: var(--mask-level-svg) no-repeat center;
                }
    
                .border {
                    mask: var(--border-level-svg) no-repeat center;
                }

                .value {                        
                    font-size: var(--font-size-28);
                    line-height: 62px;
                }
            }
        }
    }

    .details-text {
        .icon-header {
            color: var(--cosmere-color-faded);
        }

        textarea {
            border: none;
            outline: 0;
            box-shadow: none;
            border-radius: 6px;
            background-color: var(--cosmere-color-base-3);
            font-family: var(--cosmere-font-normal);
            font-size: var(--font-size-13);
            font-weight: 600;
            font-variant: lining-nums;
            color: var(--cosmere-color-text-sub);
            min-height: 80px;
            padding: 0.375rem;
            margin-top: 0.375rem;
            scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
        }
    }

    .bullet-list {
        .bullet {
            font-size: 0.375rem;
        }

        .item {
            padding: 0 0.375rem;

            &.achieved .fade {
                opacity: 0.4;
            }

            .details {
                gap: 0.375rem;

                .controls {
                    width: auto;
                }
            }

            &.new {
                min-height: 30px;
                background-color: color(from var(--cosmere-color-base-3) srgb r g b / 0.7);
                border-radius: 0 0 6px 6px;
                font-family: var(--cosmere-font-normal);
                font-size: var(--font-size-12);
                font-weight: 600;
                color: var(--cosmere-color-faded);
            }
        }
    }

    .hide-completed {
        margin-top: 0.375rem;
        font-size: var(--font-size-10);
        font-weight: 600;
        color: var(--cosmere-color-faded);
        text-align: right;
    }

    /* --- Components --- */

    app-character-favorites {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        .icon-header {
            color: var(--cosmere-color-faded);
        }

        .favorite-list {
            margin-top: 0.675rem;

            & > li {
                margin-bottom: 0.375rem;
            }

            .item {
                padding: 0;
                background-color: transparent;

                .detail {
                    width: auto;
                }

                .controls {
                    width: auto;
                }
            }
        }
    }

    app-character-ancestry,
    app-character-culture {
        .border-box {
            background-color: var(--cosmere-color-neutral);
        }
    }

    .lineage {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    app-character-paths-list {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    app-character-paths-list .path {
        .border-box {
            background-color: var(--cosmere-color-base-2);
        }        
    }

    app-character-ancestry,
    app-character-culture,
    app-character-paths-list .path,
    app-character-skill-linked-item {
        position: relative;        

        .border-box {
            mask: radial-gradient(8px at 8px 8px, transparent 98%, black) -8px -8px;
        }

        .wrapper {            
            border: 2px solid var(--cosmere-color-accent);
            border-radius: 0;
            z-index: 1;
            position: relative;
        }   

        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .title {
            display: flex;
            padding: 0.375rem 1.125rem;
            flex-direction: column;
            cursor: pointer;
            text-transform: uppercase;

            .name {
                font-family: var(--cosmere-font-header);
                font-size: var(--font-size-14);
                line-height: 14px;
                padding-top: 0.25rem;
                color: var(--cosmere-color-text-main);

                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }

            .controls {
                margin-left: 0.125rem;
                font-size: var(--font-size-10);
                color: var(--cosmere-color-text-sub);
            }

            .item-type {                
                font-family: var(--cosmere-font-normal);
                font-size: var(--font-size-10);
                font-weight: bold;
                color: var(--cosmere-color-text-accent);
            }
        }

        .skill-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0 0.625rem 0.375rem;
            list-style: none;

            .skill {
                list-style: none;
            }
        }

        .level {
            .container {
                width: 44px;
                height: 44px;

                .star {
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    background-color: var(--cosmere-color-faded);
                    mask: var(--star-cosmere-svg) no-repeat center;
                    opacity: 0.5;
                }

                .value {                        
                    font-size: var(--font-size-20);
                    line-height: 48px;
                }
            }
        }

        .background-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0.3;
            overflow: hidden;
            pointer-events: none;
            filter: saturate(0);

            img {
                position: relative;
                width: 100%;
                top: -80px;
            }
        }
    }
}