@import './character.scss';
@import './adversary.scss';

.application.sheet.actor {
    --border-sheet-corner-svg: url('assets/icons/svg/sheet/border_sheet_actor_corner.svg');

    --border-tab-closed-svg: url('assets/icons/svg/sheet/border_tab_closed.svg');
    --mask-tab-closed-svg: url('assets/icons/svg/sheet/mask_tab_closed.svg');    
    --border-tab-open-svg: url('assets/icons/svg/sheet/border_tab_open.svg');
    --mask-tab-open-svg: url('assets/icons/svg/sheet/mask_tab_open.svg');
    
    --border-deflect-svg: url('assets/icons/svg/sheet/border_deflect.svg');
    --mask-deflect-svg: url('assets/icons/svg/sheet/mask_deflect.svg');
    --border-stat-svg: url('assets/icons/svg/sheet/border_stat.svg');
    --mask-stat-svg: url('assets/icons/svg/sheet/mask_stat.svg');
    --border-bar-svg: url('assets/icons/svg/sheet/border_bar.svg');
    --mask-bar-svg: url('assets/icons/svg/sheet/mask_bar.svg');
    --border-attribute-left-svg: url('assets/icons/svg/sheet/border_attribute_left.svg');
    --mask-attribute-left-svg: url('assets/icons/svg/sheet/mask_attribute_left.svg');
    --border-attribute-right-svg: url('assets/icons/svg/sheet/border_attribute_right.svg');
    --mask-attribute-right-svg: url('assets/icons/svg/sheet/mask_attribute_right.svg');
    --border-defense-svg: url('assets/icons/svg/sheet/border_defense.svg');
    --mask-defense-svg: url('assets/icons/svg/sheet/mask_defense.svg');

    --mask-equip-2h-svg: url('assets/icons/svg/sheet/mask_equip_2h.svg');
    --mask-equip-1h-top-svg: url('assets/icons/svg/sheet/mask_equip_1h_top.svg');
    --mask-equip-1h-bot-svg: url('assets/icons/svg/sheet/mask_equip_1h_bot.svg');
    
    --rest-long-svg: url('assets/icons/svg/sheet/rest_button_long.svg');
    --rest-short-svg: url('assets/icons/svg/sheet/rest_button_short.svg');
    --rest-scene-svg: url('assets/icons/svg/sheet/rest_button_scene.svg');     

    > .window-corners {
        .corner {
            width: 50px;
            height: 50px;
        }
    }

    > .window-content {
        padding: 0 1.875rem;
    }

    > .window-background {        
        .banners {
            .top {
                background-image: var(--cosmere-banner-actor-top);
            }

            .bot {
                background-image: var(--cosmere-banner-actor-bot);
            }
        }
    }

    .sheet-header {
        margin-top: 0.5rem;

        .title {
            flex-direction: column;
            align-items: flex-start;

            .document-name {
                font-family: var(--cosmere-font-header-sc);
                font-weight: 600;
                font-size: var(--font-size-48);
                text-transform: capitalize;
                color: var(--cosmere-color-text-main);
            }

            .details {
                font-family: var(--cosmere-font-normal);
                font-size: var(--font-size-15);
                font-weight: bold;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 0.25rem;
                margin-top: -0.25rem;

                .delim {
                    color: var(--cosmere-color-faded);
                    margin-top: 0.25rem;
                }
            }
        }

        .level-details {            
            flex: unset;
            display: flex;
            align-items: center;

            .level {
                .container {    
                    .star {
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        background-color: var(--cosmere-color-faded);
                        mask: var(--star-cosmere-svg) no-repeat center;
                        opacity: 0.5;
                    }

                    input {
                        height: 100%;
                        padding: 5px 0 0 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    .sheet-content {
        margin-top: 1.5rem;
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        gap: 1.125rem;
        min-height: 0;

        .col-left {
            width: 180px;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: unset;
            padding-bottom: 0.75rem;

            .scroll-container {
                width: calc(100% + 0.875rem);
                padding-right: 0.25rem;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
                scrollbar-gutter: stable;
                filter: var(--cosmere-drop-shadow);

                .scroll-body {
                    overflow: visible;
                }
            }
        }

        .col-main {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 0.75rem;

            .scroll-container {
                margin-top: 1.375rem;
                width: calc(100% + 0.875rem);
                padding-right: 0.25rem;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
                scrollbar-gutter: stable;
                flex: 1;
                filter: var(--cosmere-drop-shadow);

                .tab-body {
                    overflow: visible;
                }
            }
        }
    }

    .sheet-stack {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-9);
            font-weight: 600;
            color: var(--cosmere-color-text-sub);
            text-transform: uppercase;
            text-align: center;
        }

        .container {
            filter: var(--cosmere-drop-shadow);
            position: relative;
            text-align: center;

            .background {
                position: absolute;
                left: 0px;
                top: 0px;    
                width: 100%;
                height: 100%;
                background-color: var(--cosmere-color-base-2);
            }

            .border {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background-color: var(--cosmere-color-accent);
            }

            .value {
                position: relative;
                font-family: var(--cosmere-font-header);
                font-weight: 600;
                color: var(--cosmere-color-text-main);
                z-index: 1;
            }
        }
    }

    .tab[data-tab] {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        &.split {
            flex-direction: row;
            gap: 1.25rem;

            > section {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 0.625rem;
            }
        }

        &:not(.active) {
            display: none;
        }
    }   

    nav {
        border: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;

        left: calc(100% + 3px);
        top: 20%;

        &.sheet-tabs > [data-tab] {
            padding: 0;
        }

        .sheet-stack {
            .container {
                width: 32px;
                height: 36px;

                .background {
                    mask: var(--mask-tab-closed-svg) no-repeat center;
                    background-color: var(--cosmere-color-sheet);
                }
    
                .border {
                    mask: var(--border-tab-closed-svg) no-repeat center;
                }                
        
                .value {
                    font-family: var(--cosmere-font-normal);
                    font-size: var(--font-size-13);
                    text-align: center;
                    color: var(--cosmere-color-text-accent);
                    line-height: 36px;
                }
            }

            &.active {
                .container {
                    width: 38px;
                    height: 36px;
    
                    .background {
                        mask: var(--mask-tab-open-svg) no-repeat center;
                        background-color: var(--cosmere-color-base-4);
                    }
        
                    .border {
                        mask: var(--border-tab-open-svg) no-repeat center;
                    }
                }
            }
        }
    }    

    .conditions-set {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        overflow: hidden;
        background-color: var(--cosmere-color-base-3);
        border-radius: 0 0 6px 6px;

        &:not(.editable) {
            pointer-events: none;
        }

        .condition {
            padding: 0.375rem;
            font-size: var(--font-size-12);

            &:is(.active) {
                color: var(--cosmere-color-text-sub);

                & .condition-icon {
                    background-color: var(--cosmere-color-text-sub);
                }
            }

            &:not(.active) {
                color: var(--cosmere-color-faded);

                & .condition-icon {
                    background-color: var(--cosmere-color-faded);
                }
            }

            &:is(.immune) {
                > a {
                    opacity: 0.3;
                }
            }

            &:not(:nth-last-child(-n + 3)) {
                border-bottom: 1pt dashed var(--cosmere-color-faded);
            }

            &:not(:nth-child(3n)) {
                border-right: 1pt dashed var(--cosmere-color-faded);
            }

            & > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.375rem;
            }

            .name {
                font-family: var(--cosmere-font-normal);
                font-weight: 600;
                text-align: left;
                flex: 1;
            }

            .condition-icon {
                height: 18px;
                width: 18px;
            }
        }
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-10);
        color: var(--cosmere-color-text-sub);
        width: 100%;
        height: 14px;
        margin-bottom: 0.125rem;

        .label {
            font-family: var(--cosmere-font-header);
            text-transform: uppercase;
            text-align: left;
        }

        .controls {
            text-align: right;
        }
    }

    /* --- Components --- */

    app-actor-details {
        display: flex;
        flex-direction: column;

        .portrait-info {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;

            .portrait {
                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;

                border: 4px solid var(--cosmere-color-accent);
                border-radius: 50%;
                filter: var(--cosmere-drop-shadow);

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &::after {
                    box-shadow: inset 0 0 60px var(--cosmere-shadow-85);
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }
            }

            a.rest {
                position: absolute;
                width: 22px;
                height: 22px;
                background-color: var(--cosmere-color-text-sub);

                &.end-scene {                    
                    top: -11px;
                    right: 27px;
                    mask: var(--rest-scene-svg) no-repeat center;
                }

                &.short-rest {
                    top: 4px;
                    right: 4px;
                    mask: var(--rest-short-svg) no-repeat center;
                }

                &.long-rest {
                    top: 27px;
                    right: -11px;
                    mask: var(--rest-long-svg) no-repeat center;
                }
            }

            .deflect {
                margin-top: -19px;
            }
        }

        .deflect {
            .container {
                width: 32px;
                height: 38px;
    
                .background {
                    mask: var(--mask-deflect-svg) no-repeat center;
                }
    
                .border {
                    mask: var(--border-deflect-svg) no-repeat center;
                }

                .value {                        
                    font-size: var(--font-size-18);
                    line-height: 40px;
                }
            }

            .label {
                margin-top: 0.25rem;
            }
        }

        .derived-stat {
            margin-bottom: 1.75rem;

            &.recovery {
                transform: translateY(0.875rem);
            }

            .container {
                width: 58px;
                height: 30px;
    
                .background {
                    mask: var(--mask-stat-svg) no-repeat center;
                }
    
                .border {
                    mask: var(--border-stat-svg) no-repeat center;
                }

                .value,
                .unit {                    
                    font-family: var(--cosmere-font-header);
                    color: var(--cosmere-color-text-main);
                    font-size: var(--font-size-14);
                    line-height: 34px;
                }

                .unit {            
                    font-variant: small-caps;            
                    position: relative;
                    z-index: 1;
                }
            }

            .label {
                margin-top: 0.25rem;
            }
        }
    }

    app-actor-resource {
        display: flex;
        flex-direction: column;
        position: relative;

        .resource {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0.625rem;

            .bar {
                .container {
                    width: 180px;
                    height: 24px;
        
                    .background {
                        mask: var(--mask-bar-svg) no-repeat center;
                    }

                    .inner {
                        mask: var(--mask-bar-svg) no-repeat center;                        
                        position: absolute;
                        left: 0px;
                        top: 0px;    
                        width: 100%;
                        height: 100%;
                    }

                    .inner-bar {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
        
                    .border {
                        mask: var(--border-bar-svg) no-repeat center;
                    }

                    .value {
                        padding-left: 0.75rem;
    
                        font-weight: bold;
                        font-size: var(--font-size-14);
                        line-height: 28px;
                        text-align: left;
                        color: var(--cosmere-color-white);

                        .delim {
                            color: var(--cosmere-color-accent);
                        }
                    }

                    input {
                        display: none;
                        padding-left: 0.75rem;

                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        
                        font-family: var(--cosmere-font-header);
                        font-weight: bold;
                        font-size: var(--font-size-14);
                        line-height: 28px;
                        text-align: left;
                        padding-top: 4px;

                        &:focus {                            
                            color: var(--cosmere-color-white);
                        }
                    }
                }

                &.editing .container {
                    .value {
                        display: none;
                    }

                    input {
                        display: block;
                    }
                }
            }

            &.hea {
                .bar .container {
                    .background {
                        background-color: var(--cosmere-color-health-back);
                    }

                    .inner-bar {
                        background-color: var(--cosmere-color-health-front);
                    }
                }
            }

            &.foc {
                .bar .container {
                    .background {
                        background-color: var(--cosmere-color-focus-back);
                    }
                    
                    .inner-bar {
                        background-color: var(--cosmere-color-focus-front);
                    }
                }
            }

            &.inv {
                .bar .container {
                    .background {
                        background-color: var(--cosmere-color-invest-back);
                    }

                    .inner-bar {
                        background-color: var(--cosmere-color-invest-front);
                    }
                }
            }
        }
    }

    app-actor-attributes {
        .attribute-groups {
            margin-top: 1.375rem;
            gap: 0.75rem;
        }

        .attribute-group {
            display: flex;
            flex-direction: column;

            > .label {
                font-family: var(--cosmere-font-header);
                font-size: var(--font-size-12);
                color: var(--cosmere-color-text-sub);
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 0.25rem;
            }

            .attributes {
                align-items: flex-start;

                .attribute {
                    .container {
                        width: 58px;
                        height: 50px;
                        padding-top: 0.25rem;

                        &.left {
                            .background {
                                mask: var(--mask-attribute-left-svg) no-repeat center;
                            }
                
                            .border {
                                mask: var(--border-attribute-left-svg) no-repeat center;
                            }
                        }

                        &.right {
                            .background {
                                mask: var(--mask-attribute-right-svg) no-repeat center;
                            }
                
                            .border {
                                mask: var(--border-attribute-right-svg) no-repeat center;
                            }
                        }

                        .title {
                            font-family: var(--cosmere-font-normal);
                            font-size: var(--font-size-11);
                            font-weight: bold;
                            text-transform: uppercase;
                            color: var(--cosmere-color-text-sub);                            
                            z-index: 1;                            
                            position: relative;

                            > i {
                                position: absolute;
                                font-size: .75em;
                                top: 0.1em;
                                right: -1.05em;
                            }
                        }
        
                        .value {                        
                            font-size: var(--font-size-24);
                            text-align: center;
                            height: 1.25rem;
                            padding-top: 0.25rem;

                            &.modified:not(:focus) {
                                color: var(--cosmere-color-highlight);
                            }
                        }
                    }

                }

                .defense {
                    .label {
                        font-family: var(--cosmere-font-normal);
                        font-size: var(--font-size-11);
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .container {
                        width: 40px;
                        height: 50px;
            
                        .background {
                            mask: var(--mask-defense-svg) no-repeat center;
                        }
            
                        .border {
                            mask: var(--border-defense-svg) no-repeat center;
                        }

                        .config-icon {
                            position: absolute;
                            width: 100%;
                            bottom: 4px;
                            left: 0;
                            font-size: var(--font-size-10);
                        }
        
                        .value {                        
                            font-size: var(--font-size-20);
                            line-height: 46px;
                        }
                    }
                }
            }
        }
    }

    app-expertises-list,
    app-actor-immunities,
    app-adversary-skills {
        .icon-header {
            color: var(--cosmere-color-faded);
            cursor: pointer;

            .controls::after {
                content: "\f078";
                font-family: var(--font-awesome);
                color: var(--cosmere-color-faded);
            }
        }

        .collapsible {
            margin-top: .2rem;

            &.expanded .icon-header > .controls::after {
                content: "\f077";
            }
        }
    }

    app-actor-search-bar {
        .search-bar {
            height: 40px;
            background-color: var(--cosmere-color-base-3);
            border-radius: 6px;
            padding: 0 0.75rem;

            font-size: var(--font-size-13);
            font-family: var(--cosmere-font-normal);

            display: flex;
            align-items: center;
            gap: 0.75rem;

            input {
                color: var(--cosmere-color-text-sub);
                text-align: left;
                flex: 1;

                &::placeholder {
                    color: var(--cosmere-color-faded);
                }
            }

            .controls {
                font-size: var(--font-size-16);
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }
    }

    app-actor-actions-list,
    app-actor-equipment-list,
    app-adversary-actions-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;        
    }

    app-actor-currency-list {
        .currency-list {
            gap: 0.75rem;
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));

            .currency {
                width: 72px;
                border-radius: 6px;
                background-color: var(--cosmere-color-base-3);
                padding: 0 0.25rem 0 0.75rem;
                position: relative;
                margin-left: 0.5rem;

                & > input {                    
                    font-family: var(--cosmere-font-normal);
                    font-variant: lining-nums;
                    font-size: var(--font-size-10);
                    font-weight: bold;
                    text-align: right;
                    color: var(--cosmere-color-text-main);                    
                    line-height: 20px;
                    height: auto;
                }

                & > img {
                    position: absolute;
                    left: -8px;
                    top: 2px;
                    border: none;
                }

                .fallback {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: -8px;
                    top: 2px;
                    color: var(--cosmere-color-accent);
                }
            }
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
