@import './character.scss';
@import './adversary.scss';

.sheet.actor {
    --sheet-corner-svg: url('assets/icons/svg/sheet/border_sheet_corner.svg');

    overflow: visible;
    border: 3px solid var(--plotweaver-color-accent);
    border-radius: 0;
    background: var(--plotweaver-color-sheet);

    &.minimized {
        border: none;

        > .window-corners {
            display: none;
        }

        > .window-header {
            padding: 0 0.5rem;
        }
    }

    &:not(.minimized) {
        > .window-header {
            padding: 0 1.875rem;
    
            #mode-toggle {
                display: unset;
            }
    
            .window-title {
                visibility: hidden;
            }
        }
    }

    > .window-header {
        background: transparent;
        position: relative;
        z-index: 1;
        border: none;
        align-items: center;

        button.header-control {
            color: var(--plotweaver-color-text-sub);
            
            &:hover {
                box-shadow: none;
                text-shadow: 0 0 5px var(--color-shadow-primary);
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        #mode-toggle {
            display: none;
        }
    }

    > .window-corners {
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .corner {
            width: 50px;
            height: 50px;
            background-color: var(--plotweaver-color-accent);
            mask: var(--sheet-corner-svg) no-repeat center;
        }

        .corner-pair {
            display: flex;
            justify-content: space-between;
        }

        .bot {
            transform: scaleY(-1);
        }

        .right {
            transform: scaleX(-1);
        }
    }

    > .window-content {
        backdrop-filter: blur(0rem);
        overflow: auto;        
        padding: 0 1.875rem;
    }
}
