<section>
    {{app-talent-tree-view
        tree=item
        view=view
        boundView=true
    }}
    <div class="controls">
        <a {{{linkDataStr}}}>
            <i class="fa-solid fa-up-right-from-square"></i>
        </a>
    </div>
</section>