app-multi-state-toggle {
    position: relative;
    display: flex;
    font-size: 9pt;
    align-items: center;
    justify-content: space-around;
    background: #302831;
    height: 1.25rem;
    border-radius: 0.75rem;
    overflow: hidden;

    input[type='radio'] {
        display: none;
    }

    label {
        flex: 1;
        text-align: center;
        z-index: 1;
        cursor: pointer;
        text-shadow: 0 0 0.2rem black;
    }

    .selected {
        position: absolute;
        height: 100%;
        transition: 0.3s;
        background: grey;
        z-index: 0;
    }
}

app-document-reference-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        flex: 1;
        min-height: 32px;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;        
        min-height: 32px;
        padding: 0 0.5rem;
        border-radius: 6px;
        background-color: var(--cosmere-color-base-3);
    }

    .controls > a {
        color: var(--cosmere-color-faded);
    }

    .drop-area {
        margin: 0;
    }
}

app-multi-value-select {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .values {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem;

        .value {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;

            font-family: var(--cosmere-font-normal);
            font-size: var(--font-size-11);
            font-weight: 600;
            color: var(--cosmere-color-faded);
            border: 1px solid var(--cosmere-color-faded);
            padding: 0.15rem 0.4rem;
            border-radius: 10px;
            background-color: var(--cosmere-color-base-2);
        }
    }
}

app-document-drop-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .document {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 24px;

        .controls > a {
            color: var(--cosmere-color-faded);
        }
    }

    .drop-area {
        margin: 0;
    }
}