.application.dialog {
    border: 1px solid var(--cosmere-color-accent);
    border-radius: 6px;

    > .window-header {
        padding: 0 0.75rem !important;

        .window-title {
            visibility: visible !important;
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-12);
            color: var(--cosmere-color-text-sub);
            text-transform: uppercase;
            text-align: left;
            padding-top: 0.25rem;
        }
    }

    > .window-content {
        padding: 0 0.75rem 0.75rem;
    } 

    .scroll-container {
        width: calc(100% + 0.5rem);
        padding-right: 0.25rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
        scrollbar-gutter: stable;
        filter: var(--cosmere-drop-shadow);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        & > li {
            margin: 0;
            list-style-type: none;
        }
    }

    .expertise-list {
        .header {
            min-height: 30px;
            background-color: var(--cosmere-color-base-1);
            border-radius: 6px 6px 0 0;
            padding: 0 0.375rem;

            .title {
                margin-left: 0.25rem;
                font-size: var(--font-size-15);
                font-weight: 600;
                color: var(--cosmere-color-text-main);
            }
        }

        .bullet {
            font-size: 0.375rem;
            flex: 0;
        }

        .configured, .custom {
            display: flex;
            justify-content: space-between;
            padding: 0 0.375rem;
            background-color: var(--cosmere-color-base-3);
            gap: 0.375rem;
        }

        .custom {
            > a {
                flex: 0;
                padding-right: 0.313rem;
                color: var(--cosmere-color-faded);
            }

            > input {
                flex: 1;
                height: 26px;
                font-style: italic;                
            }

            > input::placeholder {
                color: var(--cosmere-color-faded);
            }
        }

        .add-custom {
            min-height: 30px;
            background-color: color(from var(--cosmere-color-base-3) srgb r g b / 0.7);
            border-radius: 0 0 6px 6px;
            font-family: var(--cosmere-font-normal);
            font-size: var(--font-size-12);
            font-weight: 600;
            text-align: center;
            color: var(--cosmere-color-faded);
        }
    }

    &.edit-expertises {
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 0.625rem;
        }
    }

    &.configure-resource,
    &.configure-deflect,
    &.configure-defense,
    &.configure-movement-rate,
    &.configure-recovery-die,
    &.configure-senses-range {
        > .window-content {
            filter: var(--cosmere-drop-shadow);
        }

        form {            
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    &.configure-resource,
    &.configure-deflect,
    &.configure-defense,
    &.configure-movement-rate,
    &.configure-recovery-die,
    &.configure-senses-range {
        form {
            gap: 0.25rem;
        }

        input {
            color: var(--cosmere-color-text-sub);
            font-variant: lining-nums;
            font-weight: 600;
            flex: 2;
        }

        input:read-only {                
            color: var(--cosmere-color-faded);
        }

        select {
            background-color: var(--cosmere-color-base-4);
            border-radius: 6px;
            padding: 0 0.25rem;
            flex: 2;
        }
        
        label {
            color: var(--cosmere-color-text-sub);
            flex: 1;
            font-weight: 600;
        }

        .max {
            border-radius: 6px;
            background-color: var(--cosmere-color-base-3);

            > input {                
                text-align: center;
            }
        }

        .field {
            gap: 0.625rem;
            margin: 0;

            > input[type="text"],
            > input[type="number"] {
                border-radius: 6px;
                background-color: var(--cosmere-color-base-3);                
                padding: 0 0.25rem;
            }
        }

        .hint {
            color: var(--cosmere-color-faded);
            margin: 0;
        }

        .submit {
            margin-top: 0.625rem;
        }
    }

    &.configure-skills {
        .skills-column {            
            filter: var(--cosmere-drop-shadow);
        }
    }

    &.release-notes {
        max-height: 1000px;
    
        .window-content {
            overflow: auto;
        }
    }

    
}