@import './style/sheets/module.scss';
@import './style/chat/module.scss';
@import './style/sidebar/combat.scss';
@import './style/dialog.scss';
@import './style/components.scss';
@import './tooltip.scss';
@import './release-notes.scss';

.application.sheet,
.application.dialog {
    --border-corner-svg: url('assets/icons/svg/sheet/border_corner.svg');
    --star-cosmere-svg: url('assets/icons/svg/sheet/star_cosmere.svg');

    overflow: visible;
    background-color: var(--cosmere-color-sheet);    
    background-image: var(--cosmere-sheet-texture);

    &.minimized {
        border: 1px solid var(--cosmere-color-accent);
        border-radius: 6px;

        > .window-corners {
            display: none;
        }

        > .window-background {
            display: none;
        }

        > .window-header {
            padding: 0 0.5rem;

            > button {
                &:not([data-action="close"]) {
                    display: none;
                }
            }
        }
    }

    &:not(.minimized) {
        > .window-header {
            padding: 0 1.875rem;
    
            #mode-toggle {
                display: unset;
            }
    
            .window-title {
                visibility: hidden;
            }
        }
    }  

    input[type="text"],
    input[type="number"],
    select {        
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: 0;
        outline: none;
        box-shadow: none;
    }        

    input[type="checkbox"] {
        margin: 0;

        --checkbox-checked-color: var(--cosmere-color-accent);
        --checkbox-disabled-color: var(--cosmere-color-neutral);
        --checkbox-background-color: color(from var(--cosmere-color-faded) srgb r g b / 0.4);
    }   

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        border-radius: 6px;
        border: 1px solid var(--cosmere-color-faded);
        margin: 0;

        > legend {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-11);
            text-transform: uppercase;
            color: var(--cosmere-color-text-sub);
            padding: 0 0.375rem;
        }
    }

    button {
        color: var(--cosmere-color-text-sub);
        border-color: var(--cosmere-color-faded);
        background: var(--cosmere-color-base-1);

        :not(.fa-solid, .fas) {
            font-family: var(--cosmere-font-normal);
            font-weight: 600;
        }

        &:hover {            
            color: var(--cosmere-color-text-main);
            border-color: var(--cosmere-color-accent);
            background: var(--cosmere-color-base-5);
            box-shadow: 0 0 5px var(--cosmere-color-faded);
        }
        
        &:disabled {
            opacity: 0.4;
        }
    }

    > .window-header {
        background: transparent;
        position: relative;
        z-index: 1;
        border: none;
        align-items: center;
        filter: var(--cosmere-drop-shadow);        

        .window-title {
            font-weight: 600;
        }

        button.header-control {
            color: var(--cosmere-color-text-sub);
            
            &:hover {
                box-shadow: none;
                text-shadow: 0 0 5px var(--color-shadow-primary);
                color: var(--cosmere-color-text-sub);           
                background: none;                
                box-shadow: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        #mode-toggle {
            display: none;
        }
    }

    > .window-content {
        backdrop-filter: blur(0rem);
        overflow: visible;
        min-height: 0;
    }

    .icon {
        &.active {
            color: var(--cosmere-color-text-sub);
        }

        &.faded {            
            color: var(--cosmere-color-faded);
        }
    }    

    .info {
        font-size: var(--font-size-11);
        color: var(--cosmere-color-faded);
        margin-left: 0.125rem;
        cursor: help;
        
        &:hover {
            text-shadow: 0 0 6px var(--color-shadow-primary);
        }
    }

    .skills-column {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    .pip-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 0.25rem;

        .pip {
            > div {
                width: 10px;
                height: 10px;
                border: 1px solid var(--cosmere-color-base-5);
                border-radius: 50%;
            }

            &.active > div  {
                background-color: var(--cosmere-color-text-main);
            }

            &:not(.active) > div {
                background-color: var(--cosmere-color-base-1);
            }
        }
    }    

    .box-corners {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .corner {
            width: 10px;
            height: 10px;
            background-color: var(--cosmere-color-accent);
            mask: var(--border-corner-svg) no-repeat center;
        }

        .corner-pair {
            display: flex;
            justify-content: space-between;
        }

        .bot {
            transform: scaleY(-1);
        }

        .right {
            transform: scaleX(-1);
        }
    }

    .drop-area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        border: 2px dotted var(--cosmere-color-faded);
        border-radius: 4px;        
        background-color: var(--cosmere-color-sheet);
        
        font-family: var(--cosmere-font-normal);
        font-size: var(--font-size-12);
        font-weight: 600;
        color: var(--cosmere-color-faded);
        text-transform: uppercase;
        filter: var(--cosmere-drop-shadow);

        opacity: 0.5;

        &.dropping {
            opacity: 1;
        }
    }

    app-actor-skills-group,
    app-adversary-skills-group {
        position: relative;

        &:not(:has(*)) {
            display: none;
        }

        .skill-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0.625rem;
            border: 2px solid var(--cosmere-color-accent);
            border-radius: 0;
            background-color: var(--cosmere-color-base-2);
            mask: radial-gradient(8px at 8px 8px, transparent 98%, black) -8px -8px;
            list-style: none;

            .skill {
                list-style: none;
                margin-bottom: 0.125rem;
            }
        }
    }

    app-actor-skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.375rem;
        
        font-family: var(--cosmere-font-normal);
        font-size: var(--font-size-10);
        font-weight: bold;
        text-transform: uppercase;

        [data-action] {
            cursor: pointer;
        }

        .mod {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-12);
            font-weight: 600;
            padding-top: 0.25rem;
            width: 24px;
            text-align: center;

            .operator {
                color: var(--cosmere-color-faded);
            }

            .val {                
                color: var(--cosmere-color-text-main);
            }
        }

        .name {
            color: var(--cosmere-color-text-sub);
            text-align: left;
            flex: 1;
        }

        .attribute {
            color: var(--cosmere-color-text-accent);
            width: 24px;
            text-align: center;
        }
    }

    .enricher-link {
        a {
            border-radius: 4px;
            background: var(--cosmere-color-base-1);
            margin: .1rem;
            padding: .13rem;
            font-weight: bold;

            &:hover {
                border-color: var(--cosmere-color-accent);
                background: var(--cosmere-color-base-5);
                box-shadow: 0 0 5px var(--cosmere-color-faded);
            }
        }
    }
}