@import './style/sheets/module.scss';
@import './style/chat/module.scss';
@import './style/sidebar/combat.scss';
@import './style/dialog.scss';
@import './style/components.scss';
@import './tooltip.scss';
@import './release-notes.scss';
@import './starter-rules/journal.scss';

.application.sheet,
.application.dialog {
    --border-corner-svg: url('assets/icons/svg/sheet/border_corner.svg');
    --star-cosmere-svg: url('assets/icons/cosmere/svg/star_cosmere.svg');

    overflow: visible;
    background-color: var(--cosmere-color-sheet);
    background-image: var(--cosmere-sheet-texture);

    &.minimized {
        border: 1px solid var(--cosmere-color-accent);
        border-radius: 6px;

        > .window-corners {
            display: none;
        }

        > .window-background {
            display: none;
        }

        > .window-header {
            padding: 0 0.5rem;

            > button {
                &:not([data-action="close"]) {
                    display: none;
                }
            }
        }
    }

    &:not(.minimized) {
        > .window-header {
            padding: 0 1.875rem;

            #mode-toggle {
                display: unset;
            }

            .window-title {
                visibility: hidden;
            }
        }
    }

    input[type="text"],
    input[type="number"],
    select {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: 0;
        outline: none;
        box-shadow: none;
    }

    input[type="checkbox"] {
        margin: 0;

        --checkbox-checked-color: var(--cosmere-color-accent);
        --checkbox-disabled-color: var(--cosmere-color-neutral);
        --checkbox-background-color: color(from var(--cosmere-color-faded) srgb r g b / 0.4);
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        border-radius: 6px;
        border: 1px solid var(--cosmere-color-faded);
        margin: 0;

        > legend {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-11);
            text-transform: uppercase;
            color: var(--cosmere-color-text-sub);
            padding: 0 0.375rem;
        }
    }

    button {
        color: var(--cosmere-color-text-sub);
        border-color: var(--cosmere-color-faded);
        background: var(--cosmere-color-base-1);

        :not(.fa-solid, .fas) {
            font-family: var(--cosmere-font-normal);
            font-weight: 600;
        }

        &:hover {
            color: var(--cosmere-color-text-main);
            border-color: var(--cosmere-color-accent);
            background: var(--cosmere-color-base-5);
            box-shadow: 0 0 5px var(--cosmere-color-faded);
        }

        &:disabled {
            opacity: 0.4;
        }
    }

    > .window-header {
        background: transparent;
        position: relative;
        z-index: 1;
        border: none;
        align-items: center;
        filter: var(--cosmere-drop-shadow);

        .window-title {
            font-weight: 600;
            color: var(--cosmere-color-text-sub);
        }

        button.header-control {
            color: var(--cosmere-color-text-sub);

            &:hover {
                box-shadow: none;
                text-shadow: 0 0 5px var(--color-shadow-primary);
                color: var(--cosmere-color-text-sub);
                background: none;
                box-shadow: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        #mode-toggle {
            display: none;
        }
    }

    > .window-content {
        backdrop-filter: blur(0rem);
        overflow: visible;
        min-height: 0;
    }

    .icon {
        &.active {
            color: var(--cosmere-color-text-sub);
        }

        &.faded {
            color: var(--cosmere-color-faded);
        }
    }

    .info {
        font-size: var(--font-size-11);
        color: var(--cosmere-color-faded);
        margin-left: 0.125rem;
        cursor: help;

        &:hover {
            text-shadow: 0 0 6px var(--color-shadow-primary);
        }
    }

    .skills-column {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    .pip-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 0.25rem;

        .pip {
            > div {
                width: 10px;
                height: 10px;
                border: 1px solid var(--cosmere-color-base-5);
                border-radius: 50%;
            }

            &.active > div  {
                background-color: var(--cosmere-color-text-main);
            }

            &.locked > div  {
                opacity: 0.35;
            }

            &:not(.active) > div {
                background-color: var(--cosmere-color-base-1);
            }
        }
    }

    .box-corners {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .corner {
            width: 10px;
            height: 10px;
            background-color: var(--cosmere-color-accent);
            mask: var(--border-corner-svg) no-repeat center;
        }

        .corner-pair {
            display: flex;
            justify-content: space-between;
        }

        .bot {
            transform: scaleY(-1);
        }

        .right {
            transform: scaleX(-1);
        }
    }

    .drop-area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        border: 2px dotted var(--cosmere-color-faded);
        border-radius: 4px;
        background-color: var(--cosmere-color-sheet);

        font-family: var(--cosmere-font-normal);
        font-size: var(--font-size-12);
        font-weight: 600;
        color: var(--cosmere-color-faded);
        text-transform: uppercase;
        filter: var(--cosmere-drop-shadow);

        opacity: 0.5;

        &.dropping {
            opacity: 1;
        }
    }

    .icon-header {
        font-family: var(--cosmere-font-normal);
        font-size: var(--font-size-12);
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
        }
    }

    .item-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &>li {
            margin: 0;
            list-style-type: none;

            &:not(.favorite) {
                &:not(:first-child):not(:last-child) {
                    border-bottom: 1px dotted var(--cosmere-color-faded);
                }

                &:last-child {
                    border-radius: 0 0 6px 6px;

                    &:first-child {
                        border-radius: 6px;
                    }
                }
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            padding: 0.375rem;
            background-color: var(--cosmere-color-base-3);

            .details {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.75rem;
            }

            .description {
                text-align: left;
            }

            .img {
                width: 28px;
                height: 28px;
                border: 2px solid var(--cosmere-color-accent);
                border-radius: 0;

                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                >img {
                    max-width: 100%;
                    max-height: 100%;
                    border: 0;
                }

                .roll-icon {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    border: none;
                }
            }

            &.usable .img {
                cursor: pointer;

                &:hover {
                    .roll-icon {
                        display: block;
                        opacity: 0.6;
                        animation: rotating 2s linear infinite;
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .title,
            .name {
                font-family: var(--cosmere-font-normal);
                font-variant: lining-nums;
                text-align: left;
                flex: 1;
            }

            .title {
                margin-left: 0.25rem;
                font-size: var(--font-size-15);
                font-weight: 600;
                color: var(--cosmere-color-text-main);
            }

            .name {
                font-size: var(--font-size-13);
                font-weight: 600;
                color: var(--cosmere-color-text-sub);
                display: flex;
                flex-direction: column;

                .traits {
                    font-size: var(--font-size-10);
                    font-weight: bold;
                    font-variant: lining-nums;
                    color: var(--cosmere-color-faded);

                    .highlight {
                        color: var(--cosmere-color-text-accent);
                    }
                }

                &.inline {
                    display: block;
                }
            }

            .subtitle,
            .detail {
                width: 48px;
                color: var(--cosmere-color-text-sub);
                text-transform: uppercase;

                &.wide {
                    width: 76px;
                }

                &.thin {
                    width: 16px;
                }

                &.flexible {
                    flex: 1;
                }
            }

            .subtitle {
                font-family: var(--cosmere-font-header);
                font-size: var(--font-size-8);
            }

            .detail {
                font-family: var(--cosmere-font-normal);
                font-size: var(--font-size-10);
                font-weight: 600;
                font-variant: lining-nums;
            }

            .controls {
                width: 34px;
                text-align: center;
                display: flex;
                gap: 0.375rem;
                justify-content: flex-end;

                a {
                    width: 14px;
                }
            }

            .action,
            .quantity,
            .level {
                font-size: var(--font-size-12);
            }

            .quantity,
            .duration {
                display: flex;
                justify-content: space-evenly;

                &>a {
                    color: var(--cosmere-color-faded);
                }
            }

            .weight {
                &>i {
                    color: var(--cosmere-color-faded);
                }
            }

            .none {
                color: var(--cosmere-color-faded);
            }

            .equip {
                &>a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &>i {
                        font-size: var(--font-size-12);
                        color: var(--cosmere-color-faded);

                        &.equipped {
                            color: var(--cosmere-color-text-sub);
                        }
                    }
                }

                .hold-2h {
                    width: 48px;
                    height: 20px;
                    mask: var(--mask-equip-2h-svg) no-repeat center;
                }

                .hold-1h {
                    width: 48px;
                    height: 10px;

                    &.main-hand {
                        mask: var(--mask-equip-1h-top-svg) no-repeat center;
                    }

                    &.off-hand {
                        mask: var(--mask-equip-1h-bot-svg) no-repeat center;
                    }
                }

                .hold-2h,
                .hold-1h {
                    background-color: var(--cosmere-color-faded);

                    &.equipped {
                        background-color: var(--cosmere-color-text-sub);
                    }
                }
            }

            .restriction {
                font-size: var(--font-size-12);
                color: var(--cosmere-color-faded);
                text-transform: none;
            }

            .document-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.25rem;
            }
        }

        .header {
            min-height: 30px;
            background-color: var(--cosmere-color-base-1);
            border-radius: 6px 6px 0 0;
            padding: 0 0.375rem;

            &.basic {
                background-color: var(--cosmere-color-dark-1);
            }
        }
    }

    .pills-list {
        &.collapsible-content > .wrapper,
        &:not(.collapsible-content) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.25rem;
            margin: 0.375rem 0;
        }

        .pill {
            font-family: var(--cosmere-font-normal);
            font-size: var(--font-size-10);
            font-weight: bold;
            font-variant: lining-nums;
            text-transform: uppercase;
            color: var(--cosmere-color-faded);

            border: 1px solid var(--cosmere-color-faded);
            padding: 0.125rem 0.25rem;
            border-radius: 6px;
            background-color: var(--cosmere-color-base-2);
            
            display: flex;
            flex-direction: row;
            gap: 0.125rem;

            > .separator {
                line-height: 10px;
                opacity: 0.8;
            }
        }
    }

    app-actor-skills-group,
    app-adversary-skills-group {
        position: relative;

        &:not(:has(*)) {
            display: none;
        }

        .skill-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0.625rem;
            border: 2px solid var(--cosmere-color-accent);
            border-radius: 0;
            background-color: var(--cosmere-color-base-2);
            mask: radial-gradient(8px at 8px 8px, transparent 98%, black) -8px -8px;
            list-style: none;

            .skill {
                list-style: none;
                margin-bottom: 0.125rem;
            }
        }
    }

    app-actor-skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.375rem;

        font-family: var(--cosmere-font-normal);
        font-size: var(--font-size-10);
        font-weight: bold;
        text-transform: uppercase;

        [data-action] {
            cursor: pointer;
        }

        .mod {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-12);
            font-weight: 600;
            padding-top: 0.25rem;
            width: 24px;
            text-align: center;

            .operator {
                color: var(--cosmere-color-faded);
            }

            .val {
                color: var(--cosmere-color-text-main);
            }
        }

        .name {
            color: var(--cosmere-color-text-sub);
            text-align: left;
            flex: 1;
        }

        .attribute {
            color: var(--cosmere-color-text-accent);
            width: 24px;
            text-align: center;
        }
    }

    .enricher-link {
        a {
            border-radius: 4px;
            background: var(--cosmere-color-base-1);
            margin: 0.125rem;
            padding: 0.125rem;
            font-weight: bold;

            &:hover {
                border-color: var(--cosmere-color-accent);
                background: var(--cosmere-color-base-5);
                box-shadow: 0 0 5px var(--cosmere-color-faded);
            }
        }
    }

    app-expertises-list {
        .icon-header {
            color: var(--cosmere-color-faded);
        }

        .expertises {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.25rem;
            margin-top: 0.375rem;
        }

        .expertise {
            font-family: var(--cosmere-font-normal);
            font-size: var(--font-size-11);
            font-weight: 600;
            color: var(--cosmere-color-faded);
            border: 1px solid var(--cosmere-color-faded);
            padding: 0.15rem 0.4rem;
            border-radius: 10px;
            background-color: var(--cosmere-color-base-2);
        }
    }
}