.application.sheet {    
    --minimized-width: 250px;
        
    border: 3px solid var(--cosmere-color-accent);
    border-radius: 0;

    > .window-corners {
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        filter: var(--cosmere-drop-shadow);

        .corner {
            background-color: var(--cosmere-color-accent);
            mask: var(--border-sheet-corner-svg) no-repeat center;
        }

        .corner-pair {
            display: flex;
            justify-content: space-between;
        }

        .bot {
            transform: scaleY(-1);
        }

        .right {
            transform: scaleX(-1);
        }
    }

    > .window-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;

        .banners {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            position: relative;

            .top, .bot {
                height: 200px;
            }
        }
    }

    .item-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        & > li {
            margin: 0;
            list-style-type: none;

            &:not(.favorite) {
                &:not(:first-child):not(:last-child) {
                    border-bottom: 1px dotted var(--cosmere-color-faded);
                }
    
                &:last-child {
                    border-radius: 0 0 6px 6px;
    
                    &:first-child {
                        border-radius: 6px;
                    }
                }
            }            
        }

        .item {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            padding: 0.375rem;
            background-color: var(--cosmere-color-base-3);            

            .details {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.75rem;
            }

            .description {
                text-align: left;
            }
            
            .img {
                width: 28px;
                height: 28px;
                border: 2px solid var(--cosmere-color-accent);
                border-radius: 0;

                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                > img {
                    max-width: 100%;
                    max-height: 100%;
                    border: 0;
                }

                .roll-icon {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    border: none;
                }
            }

            &.usable .img {                    
                cursor: pointer;
            
                &:hover {
                    .roll-icon {
                        display: block;
                        opacity: 0.6;
                        animation: rotating 2s linear infinite;
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .title,
            .name {
                font-family: var(--cosmere-font-normal);
                font-variant: lining-nums;
                text-align: left;
                flex: 1;
            }

            .title {        
                margin-left: 0.25rem;            
                font-size: var(--font-size-15);
                font-weight: 600;
                color: var(--cosmere-color-text-main);
            }

            .name {                    
                font-size: var(--font-size-13);
                font-weight: 600;
                color: var(--cosmere-color-text-sub);
                display: flex;
                flex-direction: column;

                .traits {
                    font-size: var(--font-size-10);
                    font-weight: bold;
                    font-variant: lining-nums;
                    color: var(--cosmere-color-faded);

                    .highlight {
                        color: var(--cosmere-color-text-accent);
                    }
                }
            }

            .subtitle,
            .detail {
                width: 48px;
                color: var(--cosmere-color-text-sub);
                text-transform: uppercase;

                &.wide {
                    width: 76px;
                }

                &.thin {
                    width: 16px;
                }

                &.flexible {
                    flex: 1;
                }
            }

            .subtitle {
                font-family: var(--cosmere-font-header);   
                font-size: var(--font-size-8);                 
            }

            .detail {
                font-family: var(--cosmere-font-normal);   
                font-size: var(--font-size-10);
                font-weight: 600;
                font-variant: lining-nums; 
            }

            .controls {
                width: 34px;
                text-align: center;
                display: flex;                    
                gap: 0.375rem;
                justify-content: flex-end;
                
                a {
                    width: 14px;
                }
            }

            .action,
            .quantity,
            .level {
                font-size: var(--font-size-12);
            }

            .quantity,
            .duration {
                display: flex;
                justify-content: space-evenly;

                & > a {
                    color: var(--cosmere-color-faded);
                }
            }

            .weight {
                & > i {
                    color: var(--cosmere-color-faded);
                }
            }

            .none {
                color: var(--cosmere-color-faded);
            }

            .equip {
                & > a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & > i {
                        font-size: var(--font-size-12);
                        color: var(--cosmere-color-faded);
                        
                        &.equipped {
                            color: var(--cosmere-color-text-sub);
                        }
                    }
                }

                .hold-2h {
                    width: 48px;
                    height: 20px;
                    mask: var(--mask-equip-2h-svg) no-repeat center;
                }

                .hold-1h {
                    width: 48px;
                    height: 10px;

                    &.main-hand {
                        mask: var(--mask-equip-1h-top-svg) no-repeat center;
                    }

                    &.off-hand {
                        mask: var(--mask-equip-1h-bot-svg) no-repeat center;
                    }
                }

                .hold-2h,
                .hold-1h {                        
                    background-color: var(--cosmere-color-faded);

                    &.equipped {
                        background-color: var(--cosmere-color-text-sub);
                    }
                }
            }

            .restriction {
                font-size: var(--font-size-12);
                color: var(--cosmere-color-faded);
                text-transform: none;
            }
            
            .document-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.25rem;
            }
        }

        .header {
            min-height: 30px;
            background-color: var(--cosmere-color-base-1);
            border-radius: 6px 6px 0 0;                
            padding: 0 0.375rem;

            &.basic {
                background-color: var(--cosmere-color-dark-1);
            }
        }
    }

    .html-field-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .html-field {
            background-color: var(--cosmere-color-base-3);
            border-radius: 6px;
            padding: 0.5rem;

            > .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                border: none;
                margin: 0;

                font-size: var(--font-size-14);
                font-family: var(--cosmere-font-header);
                font-weight: 600;
                text-shadow: none;

                &::before {
                    content: "\f078";
                    font-family: var(--font-awesome);
                    transition: all 250ms ease;
                    transform: rotate(-90deg);
                    color: var(--cosmere-color-faded);
                }

                .title {
                    font-size: var(--font-size-12);
                    color: var(--cosmere-color-text-sub);
                    margin-top: 0.25rem;
                }

                > a {
                    color: var(--cosmere-color-faded);
                }
            }

            > .collapsible-content {
                padding: 0 0.25rem;
            }

            &.expanded {
                > .header::before {
                    transform: none;
                }
            }
        }
    }

    .collapsible {
        .collapsible-content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 250ms ease;

            & > .wrapper {
                overflow: hidden;
            }
        } 
        
        &.expanded .collapsible-content{
            grid-template-rows: 1fr;
        }
    }

    prose-mirror {
        flex: 1;
        overflow: hidden;

        menu {
            --color-hover-bg: var(--cosmere-color-base-4);
            --color-control-bg: var(--cosmere-color-base-4);
            --color-form-label-hover: var(--cosmere-color-text-sub);
            background: var(--cosmere-color-base-3);
            justify-content: space-evenly;

            button {
                font-family: var(--cosmere-font-normal);
                font-variant: lining-nums;
                font-weight: 600;
                color: var(--cosmere-color-faded);
                background: none;
                padding: 0;

                &:hover {
                    color: var(--cosmere-color-text-sub);
                    box-shadow: none;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .pm-dropdown i.fa-chevron-down {
                color: var(--cosmere-color-faded);
            }

            .pm-dropdown:hover i {
                color: var(--cosmere-color-text-sub);
            }
        }

        .editor-container {
            overflow: hidden auto;
            margin-right: 0;

            .editor-content {
                position: unset;
                min-height: 300px;
                padding: 0.25rem 0.5rem;
            }
        }

        > textarea {
            min-height: 300px;
            padding: 0.25rem 0.5rem;
            scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
        }
    }
}