<div class="currency-list">
    <div class="currency">
        <img src="systems/cosmere-rpg/assets/icons/currency/spheres.png">
        <span class="value">12345</span>
    </div>
    <div class="currency">
        <img src="systems/cosmere-rpg/assets/icons/currency/spheres.png">
        <span class="value">12345</span>
    </div>
</div>