<div class="encumbrance-list">
    <section class="details">
        <span class="title">Total Weight:</span>
        <div class="weight">
            <div class="currentWeightGroup">
                <i class="fa-solid fa-weight-hanging"></i>
                <span class="currentWeight">{{currentWeight}}</span>
            </div>
            <span class="separator">/</span>
            <span class="totalWeight">{{carryLimit}}</span>
        </div>
    </section>
</div>