@import './talent-tree.scss';

.application.sheet.item {
    --border-sheet-corner-svg: url('assets/icons/svg/sheet/border_sheet_item_corner.svg');
    --border-header-svg: url('assets/icons/svg/sheet/border_item_header.svg');

    &:not(.minimized) {
        > .window-header {
            padding: 0 1.25rem;
        }
    }

    > .window-corners {
        .corner {
            width: 30px;
            height: 30px;
        }
    }

    > .window-content {
        padding: 0 1.25rem;
        margin-top: -0.4rem;
    }

    .sheet-header {
        height: 105px;

        .border {
            position: absolute;
            left: -3px;
            top: 0px;
            width: calc(100% + 6px);
            height: 105px;
            background-color: var(--cosmere-color-accent);
            mask: var(--border-header-svg) no-repeat center;
            pointer-events: none;
        }

        .portrait {
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            overflow: hidden;
            flex: none;
            height: 72px;
            margin-left: 1px;
            margin-top: -8px;

            &::after {
                box-shadow: inset 0 0 12px var(--cosmere-shadow-85);
                content: "";
                display: block;
                position: absolute;
                top: 12px;
                width: 72px;
                height: 72px;
                pointer-events: none;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border: none;
                margin: unset;
            }

            img:hover {
                cursor: pointer;
            }
        }

        .document-name {
            font-family: var(--cosmere-font-header-sc);
            font-weight: 600;
            font-size: var(--font-size-32);
            text-transform: capitalize;
            color: var(--cosmere-color-text-main);
            margin-left: 0.75rem;
            flex: 1;
        }

        .document-type {
            flex: 0;
            margin-bottom: 78px;
            text-transform: capitalize;
            font-style: italic;
            font-family: var(--cosmere-font-normal);
            font-weight: 600;
            font-size: var(--font-size-14);
            color: var(--cosmere-color-faded);
        }
    }

    .description-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin: 0.75rem 0;

        .description {
            background-color: var(--cosmere-color-base-3);
            border-radius: 6px;
            padding: 0.5rem;

            > .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                border: none;
                margin: 0;

                font-size: var(--font-size-14);
                font-family: var(--cosmere-font-header);
                font-weight: 600;
                text-shadow: none;

                &::before {
                    content: "\f078";
                    font-family: var(--font-awesome);
                    transition: all 250ms ease;
                    transform: rotate(-90deg);
                    color: var(--cosmere-color-faded);
                }

                .title {
                    font-size: var(--font-size-12);
                    color: var(--cosmere-color-text-sub);
                    margin-top: 0.25rem;
                }

                > a {
                    color: var(--cosmere-color-faded);
                }
            }

            &.expanded {
                > .header::before {
                    transform: none;
                }
            }
        }
    }
}