@import './talent-tree.scss';

.application.sheet.item {
    --border-sheet-corner-svg: url('assets/icons/svg/sheet/border_sheet_item_corner.svg');
    --border-header-svg: url('assets/icons/svg/sheet/border_item_header.svg');

    &:not(.minimized) {
        > .window-header {
            padding: 0 1.25rem;
        }
    }

    > .window-corners {
        .corner {
            width: 30px;
            height: 30px;
        }
    }

    > .window-content {
        padding: 0 1.25rem;
        margin-top: -0.4rem;
    }

    .sheet-header {
        height: 105px;
        display: flex;
        flex-direction: column;
        margin-top: 0.25rem;

        .border {
            position: absolute;
            left: -3px;
            top: 0px;
            width: calc(100% + 6px);
            height: 105px;
            background-color: var(--cosmere-color-accent);
            mask: var(--border-header-svg) no-repeat center;
            pointer-events: none;
        }

        .type-header {
            flex: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: flex-end;

            .document-type {
                flex: 0;
                text-transform: capitalize;
                font-style: italic;
                font-family: var(--cosmere-font-normal);
                font-weight: 600;
                font-size: var(--font-size-14);
                color: var(--cosmere-color-faded);
            }
        }

        .item-header {   
            flex: 1;         
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: -1.75rem;
            margin-left: 1px;
            gap: 0.75rem;

            .portrait {
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                overflow: hidden;
                flex: none;
                height: 72px;
                margin-top: -0.375rem;
    
                &::after {
                    box-shadow: inset 0 0 12px var(--cosmere-shadow-85);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 12px;
                    width: 72px;
                    height: 72px;
                    pointer-events: none;
                    border-radius: 50%;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border: none;
                    margin: unset;
                }
    
                img:hover {
                    cursor: pointer;
                }
            }

            .document-name {
                font-family: var(--cosmere-font-header-sc);
                font-weight: 600;
                font-size: var(--font-size-32);
                text-transform: capitalize;
                color: var(--cosmere-color-text-main);
                flex: 1;
            }
        }
    }

    .scroll-container {
        width: calc(100% + 0.875rem);
        max-height: 700px;
        padding-right: 0.25rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: var(--cosmere-color-base-6) var(--color-scrollbar-track);
        scrollbar-gutter: stable;
        margin-bottom: 0.75rem;
        filter: var(--cosmere-drop-shadow);

        .tab-body {
            overflow: visible;
        }
    }

    .tab[data-tab] {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 0.125rem;

        &:not(.active) {
            display: none;
        }
    }

    nav {
        border: none;
        margin: -1.875rem 0 1.375rem 6.25rem;
        justify-content: flex-start;
        gap: 2rem;

        > a {
            text-transform: uppercase;
            font-family: var(--cosmere-font-normal);
            font-weight: bold;
            font-size: var(--font-size-13);
            color: var(--cosmere-color-faded);

            &.active {
                color: var(--cosmere-color-text-sub);
            }
        }
        

        &.sheet-tabs > [data-tab] {
            padding: 0;
        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        border-radius: 6px;
        border: 1px solid var(--cosmere-color-faded);
        margin: 0;

        > legend {
            font-family: var(--cosmere-font-header);
            font-size: var(--font-size-11);
            text-transform: uppercase;
            color: var(--cosmere-color-text-sub);
            padding: 0 0.375rem;
        }
    }

    .form-group-stacked {
        .header {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            justify-content: space-between;
            align-items: center;

            > label {
                flex: none !important;
            }

            > span {
                flex: 1;
                font-style: italic;
                color: var(--cosmere-color-faded);
            }

            .controls {
                color: var(--cosmere-color-faded);
            }
        }
    }

    .traits-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 0.25rem;

        .trait {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            > label {
                flex: none;
            }

            > input {
                height: 20px;
                field-sizing: content;
                width: auto;
                
                &::placeholder {
                    color: var(--cosmere-color-faded);
                }
            }
        }
    }

    .description-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .description {
            background-color: var(--cosmere-color-base-3);
            border-radius: 6px;
            padding: 0.5rem;

            > .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                border: none;
                margin: 0;

                font-size: var(--font-size-14);
                font-family: var(--cosmere-font-header);
                font-weight: 600;
                text-shadow: none;

                &::before {
                    content: "\f078";
                    font-family: var(--font-awesome);
                    transition: all 250ms ease;
                    transform: rotate(-90deg);
                    color: var(--cosmere-color-faded);
                }

                .title {
                    font-size: var(--font-size-12);
                    color: var(--cosmere-color-text-sub);
                    margin-top: 0.25rem;
                }

                > a {
                    color: var(--cosmere-color-faded);
                }
            }

            > .collapsible-content {
                padding: 0 0.25rem;
            }

            &.expanded {
                > .header::before {
                    transform: none;
                }
            }
        }
    }

    .properties-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.25rem;

        .separator {
            font-size: var(--font-size-10);
            color: var(--cosmere-color-faded);
        }

        .property {            
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            > input,
            > select {                
                font-family: var(--cosmere-font-normal);
                font-variant: lining-nums;
                font-weight: 600;
                field-sizing: content;
            }

            > input {
                color: var(--cosmere-color-text-sub);
            }

            > select {
                width: auto;
                padding-bottom: 0.125rem;
                margin-left: -0.375rem;
            }
        }
    }

    /* --- Components --- */

    app-item-properties {
        flex: 0;
    }

    app-item-details-activation,
    app-item-details-attack,
    app-item-details-damage,
    app-item-details-equip,
    app-item-details-id,
    app-item-details-modality,
    app-item-details-type,
    .item-details-form {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;        

        &:empty {
            display: none;
        }

        input {
            color: var(--cosmere-color-text-sub);
            font-variant: lining-nums;
            font-weight: 600;
        }

        input:read-only {                
            color: var(--cosmere-color-faded);
        }

        input[type="checkbox"] {
            flex: 0 0 20px;
        }
        
        label {
            color: var(--cosmere-color-text-sub);
            flex: 1;
            font-weight: 600;
            font-variant: lining-nums;
        }

        .form-group,
        .form-group-stacked {
            gap: 0.625rem;
            margin: 0;
            min-height: 24px;

            > app-id-input,
            > .form-fields {
                display: flex;
                flex-direction: row;
                flex: 2;

                > input[type="text"],
                > input[type="number"] {
                    border-radius: 6px;
                    background-color: var(--cosmere-color-base-3);              
                    padding: 0 0.5rem;
                    flex: 1;

                    &::placeholder {
                        color: var(--cosmere-color-faded);
                    }
                }

                > select {
                    background-color: var(--cosmere-color-base-4);
                    border-radius: 6px;
                    padding: 0 0.25rem;
                    flex: 2;
                }

                > .delim {
                    flex: none;
                }
            }
        }

        .hint {
            color: var(--cosmere-color-faded);
            margin: 0;
        }
    }

    prose-mirror {
        flex: 1;
        overflow: hidden;

        menu {
            --color-hover-bg: var(--cosmere-color-base-4);
            --color-control-bg: var(--cosmere-color-base-4);
            --color-form-label-hover: var(--cosmere-color-text-sub);
            background: var(--cosmere-color-base-3);
            justify-content: space-evenly;

            button {
                font-family: var(--cosmere-font-normal);
                font-variant: lining-nums;
                font-weight: 600;
                color: var(--cosmere-color-faded);
                background: none;
                padding: 0;

                &:hover {
                    color: var(--cosmere-color-text-sub);
                    box-shadow: none;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .pm-dropdown i.fa-chevron-down {
                color: var(--cosmere-color-faded);
            }

            .pm-dropdown:hover i {
                color: var(--cosmere-color-text-sub);
            }
        }

        .editor-container {
            overflow: hidden auto;
            margin-right: 0;

            .editor-content {
                position: unset;
                min-height: 300px;
                padding: 0.25rem 0.5rem;
            }
        }
    }
}